.card-container {
  background: white;
  border: solid 3px teal;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 45vh;
  width: 23vw;
}

.font-large {
  color: teal;
  font-size: 18px;
}

.font-med {
  color: teal;
  font-size: 16px;
}

.cancel-button {
  background-color: teal;
  border: none;
  color: white;
  height: 5vh;
  margin-left: 15%;
  width: 15vw;
}